.mat-card {
  width: 100%;
  height: 100%;
}

.score {
  text-align:center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem
  /* font-family: 'Lora', serif;
  font-family: 'Scope One', serif; */
}

.period {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 1rem
}

.teamAt {
  font-family: 'Staatliches', cursive;
  font-size: 1rem
}
