<mat-card class='row'>
  <mat-card-header class='col-md-12 justify-content-center align-items-center'>
    <div class='row'>
      <div class='col-lg-5'>
        <img class='teamLogo' style='max-width: 100px; max-height: 100px;' src="{{ imgURLVisitor }}" />
      </div>
      <div class='col-lg-2 teamAt'>
        @
      </div>
      <div class='col-lg-5'>
        <img class='teamLogo' style='max-width: 100px; max-height: 100px;' src="{{ imgURLHome }}" />
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class='col-md-12 justify-content-center' *ngIf='!game.score || game.score === null'>
      <div class='period'> {{game.gameSchedule.gameTimeEastern + ' EST'}}</div>
    </div>
    <div class='d-flex text-center' *ngIf='game.score'>
      <div class='mx-auto score'> {{game.score.visitorTeamScore.pointTotal }}
        <span class='col-xs'
          *ngIf='game.gameSchedule.visitorTeamAbbr === game.score.possessionTeamAbbr && game.score.phase != "FINAL"'>
          <fa-icon [icon]="faFootballBall" style="font-size: medium;"></fa-icon>
        </span>
      </div>
      <div class='mx-auto period' *ngIf='game.score.phase != "FINAL"'> {{ game.score.phase  + ' ' + game.score.time }}
        <div class='row-fluid justify-content-center' *ngIf='game.score.redZone'>
          <div class='col-xs-4' style="color: red">
            {{ game.score.down + ' & ' + game.score.yardsToGo + ' at the ' + game.score.yardline }}
          </div>
        </div>
      </div>
      <div class='mx-auto period' *ngIf='game.score.phase === "FINAL"'> {{ game.score.phase }}
      </div>
      <div class='mx-auto score'> <span class='col-xs'
          *ngIf='game.gameSchedule.homeTeamAbbr === game.score.possessionTeamAbbr && game.score.phase != "FINAL"'>
          <fa-icon [icon]="faFootballBall" style="font-size: medium;"></fa-icon>
        </span> {{ game.score.homeTeamScore.pointTotal }}
      </div>
    </div>
  </mat-card-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Open to see Scoring Summary
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>This is the primary content of the panel.</p>

  </mat-expansion-panel>
</mat-card>

<!-- https://github.com/derek-adair/nflgame/blob/master/nflgame/game.py NFL endpoints -->
