<div class='container'>
  <div class='page-header text-center'>
    <h1>Week {{ week }} Games</h1>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-select [(value)]='week'
      (selectionChange)='onSelectChange(week)'>
        <mat-option>None</mat-option>
        <mat-option value=1>1</mat-option>
        <mat-option value=2>2</mat-option>
        <mat-option value=3>3</mat-option>
        <mat-option value=4>4</mat-option>
        <mat-option value=5>5</mat-option>
        <mat-option value=6>6</mat-option>
        <mat-option value=7>7</mat-option>
        <mat-option value=8>8</mat-option>
        <mat-option value=9>9</mat-option>
        <mat-option value=10>10</mat-option>
        <mat-option value=11>11</mat-option>
        <mat-option value=12>12</mat-option>
        <mat-option value=13>13</mat-option>
        <mat-option value=14>14</mat-option>
        <mat-option value=15>15</mat-option>
        <mat-option value=16>16</mat-option>
        <mat-option value=17>17</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class='col-md-6'>
    <a class='col-md-6' href='#'>PHI</a>
    <a class='col-md-6' href='#'>BUF</a>
  </div>
  <!-- <div *ngFor='let a of gamesJSON'>
    {{homeTeamAbbr}}
  </div> -->
  <p> {{ gamesJSON | json }} </p>
</div>
