@import url('https://fonts.googleapis.com/css?family=Lora:700|Scope+One|Staatliches&display=swap');
.mat-drawer-container {
  background-color: none;
  background-image: url("../src/assets/football-bckgd.jpg");
  background-position: center;
}

html, body {
  margin: 0;
  height: 100%;
}

h1 {
  font-family: 'Staatliches', serif;
  font-size: 5rem;
}
